<!DOCTYPE html>
<html>
<head>
  <title>Lobby</title>
  <link rel="stylesheet" href="/style.css" />
</head>
<body>
  <h1>Lobby - Ronda <%= game.round %> (Dificultad: <%= game.difficulty %>)</h1>
  <p>Participantes inscritos: <%= game.participants.length %></p>
  <ul>
    <% game.participants.forEach(p => { %>
      <li><%= p.name %></li>
    <% }) %>
  </ul>
  <a href="/join">Unirse</a>
  <form action="/start" method="post" style="margin-top:20px;">
    <button type="submit">Comenzar ronda</button>
  </form>
</body>
</html>
